{% extends 'base.html' %}
{% block title %}Pagamento{% endblock %}
{% block content %}
{% load static %}


<div class="row d-sm-none d-lg-block bg-primary text-light mb-3">
    {% if pagamento %}
    <h3 class="ps-5">Editar pagamento</h3>
    {% else %}
    <h3 class="ps-5">Adicionar pagamento</h3>
    {% endif %}
</div>

<div class="row text-start">
    <div class="col-sm-12 col-lg-4 offset-lg-2">
        <form method="post" autocomplete="off">
            <div class="card rounded-4 sombra">
                <div class="card-header">Cadastro de pagamento</div>
                <div class="card-body"> 
                    {% csrf_token %}
                    {{form}}
                </div>
                <div class="card-footer text-end">
                    <a href="{% url 'listar-pagamentos-por-usuarios' %}" class="btn btn-light rounded-pill">Cancelar</a>
                    <button type="submit" class="btn btn-primary rounded-pill">Salvar</button>
                </div>
            </div>          
        </form>
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="card rounded-4 sombra">
            <div class="card-header">Mensagens</div>
            <div class="card-body"> 
                {% for error in errors %}
                    {{error}}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/create-payment.js' %}"></script>
<script src="{% static 'js/bootstrap-inputs.js' %}"></script>

{% endblock %}