{% extends 'base.html' %}
{% block title %}Pagamentos{% endblock %}
{% block content %}
{% load static %}

<div class="row d-sm-none d-lg-block bg-dark text-light mb-3">
    <h3 class="ps-5">Pagamentos por usuarios</h3>
</div>

<div class="row">
    <div class="col-12 d-flex justify-content-center mb-3">        
        <form method="GET" autocomplete="off">
            <div class="input-group">
                <input id="id_data" type="month" class="form-control" name="data" value="{{data_atual|date:'Y-m'}}" onchange="this.form.submit()">
                <a class="btn btn-primary" href="{% url 'listar-pagamentos-por-usuarios' %}">Hoje</a>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive-xxl">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Inquilino</th>
                <th scope="col">Imovel</th>
                <th scope="col">Venc.</th>
                <th scope="col">Data Pag.</th>
                <th scope="col">Mens.</th>
                <th scope="col">Valor pago</th>
                <th scope="col">Mudar status</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pagamentosDesteMes %}
            <tr>
                <td>
                    {% if p.pagamento.status == "P" %}
                        <span class="badge bg-success-subtle text-success">Pago</span>
                    {% elif p.pagamento.status == "A" %}
                        <span class="badge bg-warning-subtle text-dark">Em análise</span>
                    {% else %}
                        <span class="badge bg-danger-subtle text-danger">Aguardando</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'read-user' p.perfil.id %}" class="text-decoration-none">
                        {{ p.perfil.nome_completo|truncatechars:20 }}
                    </a>
                </td>
                <td>
                    {% if not p.perfil.imovel %}
                        <span class="badge bg-danger-subtle text-danger">Sem imóvel</span>
                    {% else %}
                        <a href="{% url 'read-property' p.perfil.imovel.id %}" class="text-decoration-none">
                            {{p.perfil.imovel.nome}}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if p.perfil.imovel.vencimento > 9 %}
                        {{ p.perfil.imovel.vencimento }}/{{data_atual|date:"M"}}
                    {% else %}
                        0{{ p.perfil.imovel.vencimento }}/{{data_atual|date:"M"}}
                    {% endif %}
                </td>
                <td>{{p.pagamento.data|date:"d/M/y H:i"}}</td>
                <td>R$ {{p.perfil.imovel.mensalidade}}</td>
                <td>{% if p.pagamento.valor_pago %}R$ {% endif %} {{p.pagamento.valor_pago|default_if_none:""}}</td>
                <td>
                    {% if p.pagamento.status == "P" %}
                        <!-- Button trigger modal -->
                        <a class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalDeletarRapido{{p.pagamento.id}}"><i class="bi bi-trash-fill"></i></a>
                    {% else %}
                        <a onclick="pagamento_rapido('{{p.perfil.id}}')" class="btn btn-success btn-sm"><i class="bi bi-currency-dollar"></i></a>
                    {% endif %}
                </td>
                <td>
                    {% if p.pagamento.id %}
                        <div class="dropdown">
                            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="bi bi-gear-fill"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" onclick="criar_pagamento('{{p.pagamento.id}}')"><i class="bi bi-pencil-fill"></i> Editar pagamento</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </td>
            </tr>

             <!-- Modal precista estar dentro do for -->
            <div class="modal fade" id="modalDeletarRapido{{p.pagamento.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Atenção</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Deletar o pagamento ?
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-danger" onclick="deletar_rapido('{{p.pagamento.id}}')">Deletar</a>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'js/listar-pagamentos.js' %}"></script>

{% endblock %}