{% extends 'base.html' %}
{% block title %}Pagamentos{% endblock %}
{% block content %}
{% load static %}

<div class="row d-sm-none d-lg-block bg-dark text-light mb-3">
    <h3 class="ps-5">Pagamentos por usuarios</h3>
</div>

<div class="row">
    <div class="col-12 d-flex justify-content-center mb-3">        
        <form method="GET" autocomplete="off">
            <div class="input-group">
                <input id="id_data" type="month" class="form-control" name="data" value="{{data_atual|date:'Y-m'}}" onchange="this.form.submit()">
                <a class="btn btn-primary" href="{% url 'listar-pagamentos-por-usuarios' %}">Hoje</a>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive-xxl">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Inquilino</th>
                <th scope="col">Imovel</th>
                <th scope="col">Venc.</th>
                <th scope="col">Data Pag.</th>
                <th scope="col">Mens.</th>
                <th scope="col">Valor pago</th>
                <th scope="col">Mudar status</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for perfil in perfilComPagamento %}
            <tr>
                <td>
                    {% if perfil.pagamento == "P" %}
                    <span class="badge bg-success-subtle text-success">Pago</span>
                    {% elif perfil.pagamento == "A" %}
                    <span class="badge bg-warning-subtle text-dark">Em análise</span>
                    {% else %}
                    <span class="badge bg-danger-subtle text-danger">Aguardando</span>
                    {% endif %}
                </td>
                <td>{{perfil.nomeperfil}}</td>
                <td>
                    {% if perfil.nomeimovel == "Sem imovel" %}
                        <span class="badge bg-danger-subtle text-danger">{{perfil.nomeimovel}}</span>
                    {% else %}
                        {{perfil.nomeimovel}}
                    {% endif %}
                </td>
                <td>
                    {% if perfil.vencimento > 9 %}
                        {{ perfil.vencimento }}/{{data_atual|date:"M"}}
                    {% else %}
                        0{{perfil.vencimento}}/{{data_atual|date:"M"}}
                    {% endif %}
                </td>
                <td>{{perfil.data|date:"d/M/y H:i"}}</td>
                <td>{{perfil.mensalidade}}</td>
                <td>{{perfil.pagamentoefetuado}}</td>
                <td>
                    {% if perfil.pagamento == "P" %}
                    <!-- Button trigger modal -->
                    <a class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalDeletarRapido{{perfil.pagamentoid}}"><i class="bi bi-trash-fill"></i></a>
                    {% else %}
                    <a onclick="pagamento_rapido('{{perfil.id}}')" class="btn btn-success btn-sm"><i class="bi bi-currency-dollar"></i></a>
                    {% endif %}
                </td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="bi bi-gear-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                {% if perfil.pagamentoid %}
                                    <a class="dropdown-item" onclick="criar_pagamento('{{perfil.pagamentoid}}')"><i class="bi bi-pencil-fill"></i> Editar pagamento</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>

            <!-- Modal precista estar dentro do for -->
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal fade" id="modalDeletarRapido{{perfil.pagamentoid}}" data-bs-backdrop="static" data-bs-keyboard="false"
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Atenção</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Deletar o pagamento ?
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-danger" onclick="deletar_rapido('{{perfil.pagamentoid}}')">Deletar</a>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'js/listar-pagamentos.js' %}"></script>

{% endblock %}