{% extends 'base.html' %}
{% block title %}Alterar Senha{% endblock %}
{% block content %}

<div class="container">
    <div class="row text-white bg-success mx-auto my-3">
        <h2 class="ps-5">Alterar senha de {{perfil}}</h2>
    </div>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <!-- Usuario -->
        <div class="form-floating mb-3">
            <input type="text" class="form-control text-muted" name="username" id="id_username" placeholder="Usuário" value="{{usuario.username}}" readonly>
            <label for="id_username">CPF:</label>
        </div>

        <!-- Senha -->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="password1" required id="id_password1" placeholder="Senha"
                value="{{ senhaGerada }}">
            <label for="id_password1">Nova senha:</label>
        </div>

        <!-- Confirmar senha -->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="password2" required id="id_password2"
                placeholder="Confirmar senha" value="{{ senhaGerada }}">
            <label for="id_password2">Confirmar nova senha:</label>
        </div>

        {% if formUsuario.errors %}
            <div class="alert alert-danger">
                {{ formUsuario.errors }}
            </div>
        {% endif %}

        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>

{% endblock %}