{% extends 'blankpage.html' %}
{% block title %}Cadastrar Usuario{% endblock %}
{% block content %}
{% load static %}


<div class="d-lg-block h-100">
	<div class="row h-100 padding-5-20">
		<div class="card border-0 rounded-4 h-100 w-100 sombra">
			<div class="card-body">
				
				<div class="row h-100">
					<div class="col-sm-12 col-lg-4 h-100 d-flex flex-column">
						<!-- cima -->
						<div class="row pt-4 h-25">
							<div class="col-12 d-flex flex-column align-items-center">
								<img src="{% static 'imgs/imobiliariaIcon.png' %}" alt="icone" style="width: 40%;">
								<h2 class="mt-2 strong">Login</h2>
								<span class="text-muted">Gestão finnancer</span>
							</div>
						</div>
	
						<!-- formulario -->
						<div class="row h-50">
							<div class="col-12 d-flex justify-content-center flex-column align-items-center">
								<span class="text-muted mb-4">Faça login com a sua conta</span>
								<form method="post" class="w-75">
									{% csrf_token %}
									<div class="input-group mb-3">
										<input type="text" class="rounded-pill form-control" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="Usuário">
									</div>
									<div class="input-group mb-3">
										<input type="password" class="rounded-pill form-control" name="password" autocomplete="current-password" required id="id_password" placeholder="Senha">
									</div>
									<button type="submit" class="rounded-pill btn btn-primary strong w-100">Login</button>
									{% if form.errors %}
										<div class="alert alert-danger mt-3">
											{{ form.errors }}
										</div>
									{% endif %}
								</form>	
								<p class="pt-3">
									Não possui conta?
									<a href="{%url 'auto-cadastro'%}" class="text-decoration-none">Cadastrar-se</a>
								</p>
							</div>
						</div>	
	
						<!-- baixo -->
						<div class="row pb-5 h-25 d-flex">
							<div class="col-12 d-flex justify-content-end flex-column align-items-center">
								<div class="card w-75 h-75 rounded-4 quadrado sombra border-0 d-sm-block d-lg-none mb-5"></div>
								<span class="fs-6 text-muted">&copy; Luan All rights reserved.</span>
							</div>
						</div>
	
					</div>
	
					<div class="d-sm-none d-lg-block col-lg-8 rounded-4 quadrado  sombra">
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}