{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="login-background">
  <div class="d-flex align-items-center justify-content-center text-center">
    <div class="card login-card">
      <div class="card-body m-5">
        <h2 class="m-5 text-success"><strong>Login</strong></h2>
        <form method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" class="login-input form-control" name="username" autofocus="" autocapitalize="none"
              autocomplete="username" maxlength="150" required id="id_username" placeholder="Usuário">
          </div>
          <div class="input-group mb-5">
            <input type="password" class="login-input form-control" name="password" autocomplete="current-password" required
              id="id_username" placeholder="Senha">
          </div>
          <button type="submit" class="login-brn-continuar btn btn-success mt-5 mb-4">CONTINUAR</button>
        </form>
        <a href="">Esqueceu a senha?</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}