{% extends 'base.html' %}
{% block title %}Cadastrar Usuario{% endblock %}
{% block content %}
{% load static %}

<div class="row d-lg-block d-sm-none bg-primary-subtle text-primary mb-3">
    {% if usuario %}
    <h3 class="ps-5">Editar {{ usuario }}</h3>
    {% else %}
    <h3 class="ps-5">Novo Usuário</h3>
    {% endif %}
</div>

<div class="row text-start">
    <!-- form -->
    <div class="col-sm-12 col-lg-4 offset-lg-2">
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="card rounded-4 sombra">
                <div class="card-header">
                    Cadastro de usuário
                </div>
                <div class="card-body">
                    {{form}}  
                </div>
                <div class="card-footer text-end">
                    <a href="{% url 'listarusuarios' %}" class="btn btn-light rounded-pill">Cancelar</a>
                    <button type="submit" class="btn btn-primary rounded-pill">
                        <strong>Salvar</strong>
                    </button>
                </div>
            </div>    
            
        </form>
    </div>

    <!-- errors -->
    <div class="col-sm-12 col-lg-4">
        <div class="card rounded-4 sombra">
            <div class="card-header">
                Mensagens
            </div>
            <div class="card-body">
                {% for error in errors %}
                    <p>{{error}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/criar-usuario.js' %}"></script>

{% endblock %}