{% extends 'base.html' %}
{% block title %}Alterar Perfil{% endblock %}
{% block content %}
{% load static %}

<div class="row d-lg-block d-sm-none bg-dark text-light mb-3">
    {% if perfil %}
    <h3 class="ps-5">Editar {{ perfil }}</h3>
    {% else %}
    <h3 class="ps-5">Novo imóvel</h3>
    {% endif %}
</div>

<div class="row text-center">
    <div class="col-sm-12 col-lg-4 offset-lg-4">
        <form method="post" autocomplete="off">
            <div class="card text-start rounded-4 sombra">
                <div class="card-header">
                    Atualizar dados usuário
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <div class="card-footer text-end">
                    <a href="{% url 'listarusuarios' %}" class="btn btn-light rounded-pill">Cancelar</a>
                    <button type="submit" class="btn btn-primary rounded-pill">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/edit-profile.js' %}"></script>

{% endblock %}