{% extends 'blankpage.html' %}
{% block title %}Cadastrar Usuario{% endblock %}
{% block content %}
{% load static %}


<div class="d-lg-block h-100">
	<div class="row h-100 padding-5-20">
		<div class="card border-0 rounded-4 h-100 w-100 sombra">
			<div class="card-body">
				
				<div class="row h-100">
                    <div class="col-sm-12 col-lg-4 h-100 d-flex flex-column">
                         <!-- cima -->
                        <div class="row pt-5 h-25">
                            <div class="col-12 d-flex flex-column align-items-center justify-content-center">
                                <img src="{% static 'imgs/imobiliariaIcon.png' %}" alt="icone" style="width: 40%;">
                                <h2 class="mt-2 strong">Recuperar senha</h2>
                            </div>
                        </div>

                        <!-- Formulario -->
                        <div class="row h-75">
                            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                                <form method="post" autocomplete="off">
                                    {% csrf_token %}

                                    <div class="row">
                                        <!-- CPF -->
                                        <div class="col-12">
                                            <div class="form-group mb-3">
                                                <p class="badge text-dark mb-0">Cpf <span class="text-danger">*</span></p>
                                                <input type="text" class="form-control" name="cpf" maxlength="11" minlength="11" required id="id_cpf" placeholder="CPF">
                                            </div>
                                        </div>
                                        <!-- Data nascimento -->
                                        <div class="col-12">
                                            <div class="form-group mb-3">
                                                <p class="badge text-dark mb-0">Data de nascimento <span class="text-danger">*</span></p>
                                                <input type="date" class="form-control" name="dataNascimento" min="10" max="10" required id="id_data_nascimento" placeholder="Data de nascimento">
                                            </div>
                                        </div>
                                        <!-- Senha -->
                                        <div class="col-6">
                                            <div class="form-group mb-3">
                                                <p class="badge text-dark mb-0">Nova senha <span class="text-danger">*</span></p>
                                                <input type="text" class="form-control" name="password1" minlength="8" required id="id_password1" placeholder="Senha" value="{{senhaGerada}}">
                                            </div>
                                        </div>
                                        <!-- Confirmar senha -->
                                        <div class="col-6">
                                            <div class="form-group mb-3">
                                                <p class="badge text-dark mb-0">Confirmar senha <span class="text-danger">*</span></p>
                                                <input type="text" class="form-control" name="password2" minlength="8" required id="id_password2" placeholder="Confirmar senha" value="{{senhaGerada}}">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary rounded-pill w-100">
                                        <strong>Alterar senha</strong>
                                    </button>

                                </form>
                            </div>
                        </div>

                        <!-- erros mobile -->
                        <div class="row-25">
                            <div class="d-flex flex-column col-12">
                                {% if errors|length > 0 %}
                                    <div class="alert alert-danger">
                                        {% for error in errors %}
                                            <p>{{error}}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    <div class="d-sm-none d-lg-block col-8 rounded-4 quadrado sombra">
					</div>

				</div>
                

			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/auto-cadastro-usuario.js' %}"></script>
<script>
    if("{{contaCriada}}" == "True"){
        alert("Conta criada, tente fazer login")
        window.location.href = "{% url 'login'%}"
    }
</script>

{% endblock %}