{% extends 'blankpage.html' %}
{% block title %}Cadastrar Usuario{% endblock %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row text-white bg-success mx-auto my-3">
        <h2 class="ps-5">Recuperar Senha</h2>
    </div>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ formPerfil.as_p }}
        {% if usuario %}
        <div class="row">
            <div class="col-6">
                <!-- Senha -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="password1" required id="id_password1" placeholder="Senha">
                    <label for="id_password1">Nova Senha:</label>
                </div>
            </div>
            <div class="col-6">
                <!-- Confirmar senha -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="password2" required id="id_password2" placeholder="Confirmar senha">
                    <label for="id_password2">Confirmar Nova Senha:</label>
                </div>
            </div>
        </div>
        {% endif %}
        {% if erro %}
        <div class="alert alert-danger"><p>{{erro}}</p></div>
        {% endif %}
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>

<script src="{% static 'js/bootstrap-inputs.js' %}"></script>
<script src="{% static 'js/recover-password.js' %}"></script>

{% endblock %}