{% extends 'base.html' %}
{% block title %}Cadastrar Imovel{% endblock %}
{% block content %}

<div class="container">
    <div class="row text-white bg-success mx-auto my-3">
        <h2 class="ps-5">Novo imóvel</h2>
    </div>
    
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{formImovel.as_p}}
        <button type="submit" class="btn btn-success mt-3">Salvar</button>
    </form>
</div>

<!-- Busca pelo CEP -->
<script>

    function limpa_formulário_cep() {
        //Limpa valores do formulário de cep.
        document.getElementById('id_endereco').value = ("");
        document.getElementById('id_bairro').value = ("");
        document.getElementById('id_cidade').value = ("");
        document.getElementById('id_uf').value = ("");
    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('id_endereco').value = (conteudo.logradouro);
            document.getElementById('id_bairro').value = (conteudo.bairro);
            document.getElementById('id_cidade').value = (conteudo.localidade);
            document.getElementById('id_uf').value = (conteudo.uf);
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }

    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if (validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('id_endereco').value = "...";
                document.getElementById('id_bairro').value = "...";
                document.getElementById('id_cidade').value = "...";
                document.getElementById('id_uf').value = "...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    };

</script>

<!-- Bootstrap nos inputs -->
<script>
    // alterar ordem dos labels
    $('p label').each(function() {
        $(this).insertAfter( $(this).next('input') );
    });
    // trocar os elementos P por DIVS
    $("p").each(function() {
        $(this).replaceWith("<div class=\"form-floating mb-3\">" + $(this).html() + "</div>");
    });

    // configurações dos inputs
    $('input').addClass('form-control')
    $('input').each(function(){
        $(this).attr('placeholder', 'placeholder');
    })

    // configurações extras
    $("#id_cep").blur(function(){
        pesquisacep(this.value)
    });
    
</script>

<!-- Máscaras e atributos -->
<script type="text/javascript">
    $('#id_cep').mask('00000-000');
    $('#id_mensalidade').mask('#.000,00', {reverse: true})
    $('#id_vencimento').mask('00')
    $('#id_vencimento').attr('max', 29)
</script>

{% endblock %}