{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Base{% endblock %}</title>

    <!-- imports -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- baixar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row" id="row-conteudo-principal">

            <!-- Sidebar desktop -->
            <div class="col-2 d-sm-none d-lg-block bg-light pt-3">
                <div class="row text-center">
                    <a href="{% url 'indeximobiliaria' %}" class="link-dark text-decoration-none">
                        <span class="fs-4">Imobiliaria</span>
                    </a>
                </div>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    {% include "menu.html" %}
                </ul>
            </div>

            <!-- Topbar mobile -->
            <div class="d-lg-none d-sm-block">
                
                <div class="row bg-primary">
                    <div class="col-12 py-3">
                        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
                            <strong class="text-light h2">
                                IMOBILIARIA
                                <i class="bi bi-chevron-compact-down"></i>
                            </strong> 
                        </button>
                    </div>
                </div>

                <!-- Offcanvas -->
                <div class="offcanvas offcanvas-top h-auto" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close fs-2" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body fs-2">
                        <ul class="nav nav-pills flex-column mb-auto">
                            {% include "menu.html" %}
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-sm-12 col-lg-10 pt-3 h-100" style="overflow-y: scroll;">
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </div>
</body>

</html>