{% extends 'blankpage.html' %}
{% block title %}Cadastrar Usuario{% endblock %}
{% block content %}
{% load static %}


<div class="d-lg-block h-100">
	<div class="row h-100 padding-5-20">
		<div class="card border-0 rounded-4 h-100 w-100 sombra">
			<div class="card-body">
				
				<div class="row h-100">
					<!-- esquerda -->
					<div class="col-sm-12 col-lg-4 h-100 d-flex flex-column justify-content-between">
						<!-- cima -->
						<div class="row">
							<div class="col-12 d-flex flex-column align-items-center justify-content-start">
								<img src="{% static 'imgs/imobiliariaIcon.png' %}" alt="icone" style="width: 40%;">
								<h2 class="mt-2 strong">Login</h2>
								<span class="text-muted">Gestão finnancer</span>
							</div>
						</div>
	
						<!-- formulario -->
						<div class="row">
							<div class="col-12 d-flex justify-content-center flex-column align-items-center">
								<span class="text-muted mb-4">Faça login com a sua conta</span>
								<form method="post" class="w-75">
									{% csrf_token %}
									{{form}}
									<button type="submit" class="rounded-pill btn btn-primary strong w-100 mt-3">Login</button>									
								</form>	

								<p class="pt-3 text-center">
									Não possui conta?
									<a href="{%url 'auto-cadastro'%}" class="text-decoration-none">Cadastrar-se</a> 
									<br>									
									<a href="{%url 'recuperarsenha'%}" class="text-decoration-none">Esqueceu a senha?</a>
								</p>
							</div>
						</div>	
	
						<!-- baixo -->
						<div class="row d-flex">
							<div class="col-12 d-flex flex-column align-items-center justify-content-end">
								<span class="fs-6 text-muted">&copy; Luan All rights reserved.</span>
							</div>
						</div>
	
					</div>

					<!-- meio | erros desktop -->
                    <div class="flex-column col-sm-12 col-lg-4 justify-content-center errors">
                        {% if errors|length > 0 %}
                            <div class="alert rounded-4 sombra">
                                {% for error in errors %}
                                    <p>{{error}}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
					
					<!-- direita -->
					<div class="d-sm-none d-lg-block col-lg-4 rounded-4 quadrado sombra">
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/login.js' %}"></script>

{% endblock %}