{% extends 'base.html' %}
{% block title %}Imovel{% endblock %}
{% block content %}
{% load static %}

<!-- FIXME usar padrão de formulario -->

<div class="row d-lg-block d-sm-none bg-primary-subtle text-primary mb-3">
    {% if imovel %}
    <h3 class="ps-5">Editar {{ imovel }}</h3>
    {% else %}
    <h3 class="ps-5">Novo Imóvel</h3>
    {% endif %}
</div>

<div class="row text-center">
    <div class="col-sm-12 col-lg-6 offset-lg-3">
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{formImovel.as_p}}
            <a href="{% url 'listarimoveis' %}" class="btn btn-light">Cancelar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
</div>

<script src="{% static 'js/bootstrap-inputs.js' %}"></script>
<script src="{% static 'js/criar-imovel.js' %}"></script>

{% endblock %}