{% extends 'base.html' %}
{% block title %}Imovel{% endblock %}
{% block content %}
{% load static %}

<!-- FIXME usar padrão de formulario -->

<div class="row d-lg-block d-sm-none bg-primary-subtle text-primary mb-3">
    {% if imovel %}
    <h3 class="ps-5">Editar {{ imovel }}</h3>
    {% else %}
    <h3 class="ps-5">Novo Imóvel</h3>
    {% endif %}
</div>

<div class="row text-start">
    <div class="col-sm-12 col-lg-4 offset-lg-4">
        <form method="post" autocomplete="off">
            <div class="card rounded-4 sombra">
                <div class="card-header">
                    {{ imovel|yesno:"Editar imóvel,Cadastro de Imóvel"}}
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{form}}
                </div>
                <div class="card-footer text-end">
                    <a href="{% url 'listarimoveis' %}" class="btn btn-light rounded-pill">Cancelar</a>
                    <button type="submit" class="btn btn-primary rounded-pill">
                        <strong>Salvar</strong>
                    </button>
                </div>
            </div>            
        </form>
    </div>
</div>

<script src="{% static 'js/criar-imovel.js' %}"></script>

{% endblock %}