{% extends 'base.html' %}
{% block title %}Imoveis{% endblock %}
{% block content %}

<div class="row d-sm-none d-lg-block bg-dark text-light mb-3">
    <h3 class="ps-5">Imóveis</h3>
</div>

<div class="row">
    <div class="col-sm-12 mb-sm-3 col-lg-2">
        <a href="{% url 'cadastrarimovel' %}" class="btn btn-success w-100"><i class="bi bi-house-add-fill"></i> Incluir</a>
    </div>
    <div class="col-sm-12 mb-sm-3 col-lg-5 offset-lg-5">
        <form method="GET" autocomplete="off">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisa" name="busca">
                <button class="btn btn-primary"><i class="bi bi-arrow-clockwise"></i></button>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Vila/Condomínio</th>
                <th scope="col">Disponível</th>
                <th scope="col">CEP</th>
                <th scope="col">Endereço</th>
                <th scope="col">N°</th>
                <th scope="col">Bairro</th>
                <th scope="col">Cidade</th>
                <th scope="col">UF</th>
                <th scope="col">Mens.</th>
                <th scope="col">Venc.</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for imovel in imoveis %}
            <tr>
                <td>{{imovel.nome}}</td>
                {% if imovel.disponibilidade %}
                <td><span class="badge bg-success-subtle text-success">Sim</span></td>
                {% else %}
                <td><span class="badge bg-danger-subtle text-danger">Não</span></td>
                {% endif %}
                <td>{{imovel.cep}}</td>
                <td>{{imovel.endereco}}</td>
                <td>{{imovel.numero}}</td>
                <td>{{imovel.bairro}}</td>
                <td>{{imovel.cidade}}</td>
                <td>{{imovel.uf}}</td>
                <td>R$ {{imovel.mensalidade}}</td>
                {% if imovel.vencimento > 9 %}
                    <td>{{ imovel.vencimento }}</td>
                {% else %}
                    <td>0{{imovel.vencimento}}</td>
                {% endif %}
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="bi bi-gear-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'atualizardadosimovel' imovel.id %}"><i class="bi bi-house-gear-fill"></i> Editar imovel</a></li>
                            <li><hr class="dropdown-divider"></hr></li>
                            <li>
                                <!-- Button trigger modal -->
                                <a class="dropdown-item bg-danger text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{imovel.id}}" href=""><i class="bi bi-trash-fill"></i> Deletar</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
    
            <!-- Modal precista estar dentro do for -->
            <div class="modal fade" id="staticBackdrop{{imovel.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Atenção</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Deseja deletar o imovel "{{imovel}}" ?
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-danger" href="{% url 'deletarimovel' imovel.id %}">Deletar</a>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}