{% extends 'base.html' %}
{% block title %}Usuários{% endblock %}
{% block content %}

<div class="row bg-dark text-light mb-3">
    <h3 class="ps-5">Adicionar imóvel ao usuario {{perfil}}</h3>
</div>

<div class="row text-center">
    <div class="col-6 offset-3">
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}

            <a href="{% url 'listarusuarios' %}" class="btn btn-light">Cancelar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
</div>

<!-- Bootstrap nos inputs -->
<script>
    // alterar ordem dos labels
    $('p label').each(function() {
        $(this).insertAfter( $(this).next('input') );
        $(this).insertAfter( $(this).next('select') );
    });
    // trocar os elementos P por DIVS
    $("p").each(function() {
        $(this).replaceWith("<div class=\"form-floating mb-3\">" + $(this).html() + "</div>");
    });

    // configurações dos inputs
    $('input').addClass('form-control')
    $('input').each(function(){
        $(this).attr('placeholder', 'placeholder');
    })

    // configurações dos selects
    $('select').addClass('form-select')
</script>

{% endblock %}