{% extends 'base.html' %}
{% block title %}Alterar Perfil{% endblock %}
{% block content %}
{% load static %}

<div class="row d-lg-block d-sm-none bg-dark text-light mb-3">
    {% if perfil %}
    <h3 class="ps-5">Editar {{ perfil }}</h3>
    {% else %}
    <h3 class="ps-5">Novo imóvel</h3>
    {% endif %}
</div>

<div class="row text-center">
    <div class="col-sm-12 col-lg-6 offset-lg-3">
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ formPerfil.as_p }}
            {% if formPerfil.errors %}
                <div class="alert alert-danger">
                    {{ formPerfil.errors }}
                </div>
            {% endif %}
            <a href="{% url 'listarusuarios' %}" class="btn btn-light">Cancelar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
</div>

<script src="{% static 'js/bootstrap-inputs.js' %}"></script>

{% endblock %}