{% extends 'base.html' %}
{% block title %}Usuários{% endblock %}
{% block content %}


<div class="row d-lg-block d-sm-none bg-dark text-light mb-3">
    <h3 class="ps-5">Usuários</h3>
</div>

<div class="row">
    <div class="col-12 d-flex justify-content-between mb-3">
        <a href="{% url 'cadastrarusuario' %}" class="btn btn-success"><i class="bi bi-person-plus-fill"></i> Incluir</a>
        <form method="GET" autocomplete="off">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisa" name="busca">
                <button class="btn btn-primary"><i class="bi bi-arrow-clockwise"></i></button>
            </div>
        </form>
    </div>
</div>


<div class="table-responsive-xxl">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Telefone</th>
                <th scope="col">Imovel</th>
                <th scope="col">Data de entrada no imovel</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for perfil in perfis %}
            <tr>
                <td>{{perfil.nome_completo}}</td>
                <td>{{perfil.cpf}}</td>
                <td>{{perfil.telefone}}</td>
                {% if perfil.imovel %}
                    <td>{{perfil.imovel}}</td>
                    <td>{{perfil.data_entrada_imovel|date:"d/m/Y"}}</td>
                {% else %}
                    <td><span class="badge bg-danger-subtle text-danger">Sem imóvel</span></td>
                    <td><span class="badge bg-danger-subtle text-danger">Sem imóvel</span></td>
                {% endif %}
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="bi bi-gear-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'editarperfil' perfil.id %}"><i class="bi bi-person-fill-gear"></i> Editar</a></li>
                            <li><a class="dropdown-item" href="{% url 'editarusuario' perfil.id %}"><i class="bi bi-key-fill"></i> Alterar senha</a></li>
                            <li>
                                {% if perfil.imovel %}
                                    <!-- TODO modal confirmação -->
                                    <!-- TODO apagar pagamentos ao remover imovel -->
                                    <a class="dropdown-item text-danger" href="{% url 'removerdoimovel' perfil.id %}"><i class="bi bi-house"></i> Remover do imovel</a>
                                {% else %}
                                    <a class="dropdown-item text-success" href="{% url 'incluirnoimovel' perfil.id %}"><i class="bi bi-house-fill"></i> Incluir no imovel</a>
                                {% endif %}
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                                </hr>
                            </li>
                            <li>
                                <!-- Button trigger modal -->
                                <a class="dropdown-item bg-danger text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{perfil.id}}" href=""><i class="bi bi-trash-fill"></i> Deletar</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
    
            <!-- Modal precista estar dentro do for -->
            <div class="modal fade" id="staticBackdrop{{perfil.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Atenção</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Deseja deletar o usuario "{{perfil}}" ?
                            <div class="p">Não é possível reverter este processo.</div>
                            <div class="p text-danger">Apagar este usuário também apagará seus pagamentos.</div>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-danger" href="{% url 'deletarusuario' perfil.id %}">Deletar</a>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- Sistema de busca -->
<script>
    function busca(pesquisa){
        $('tbody tr').each(function(index){
            var name = this.children[0].textContent;
            if (!name.includes(pesquisa)){
                this.remove()
            }
        })
    }    
</script>

{% endblock %}