html,
body {
    height: 100%;
    margin: 0;
}


.quadrado {
    position: relative;
    animation-name: slidein;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes slidein {
    0% {
        background-color: red;
        transform: translateX(-25%)
        scaleX(1.4);
    }

    100% {
        background-color: red;
        transform: translateX(0%)
        scaleX(1);
    }
}

@media screen and (max-width: 1000px) {
    html{
        font-size: 2.3em;
    }
}