html,
body {
    height: 100%;
    margin: 0;
}

.padding-5-20{
    padding: 5% 20%;
}

.sombra{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.144);
}

.quadrado {
    /* background-image: url('https://cdn.dribbble.com/userupload/4010881/file/original-afb237e3dda5bda7f149b100bf5a15dd.jpg'); */
    background-image: url('https://i.pinimg.com/originals/89/dd/7a/89dd7adf1fde0041eb1671403b00a5b7.gif');
    /* background-image: url('https://img.freepik.com/free-vector/isometric-tower-building_1344-4.jpg'); */
    
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
    position: relative;
    animation-name: slidein;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes slidein {
    0% {
        transform: 
        scaleX(-1);
    }

    100% {
        transform: 
        scaleX(1);
    }
}

@media screen and (max-width: 1000px) {
    html{
        font-size: 2.3em;
    }

    .padding-5-20{
        padding: 0;
    }
}